<!--
  ~ Copyright (c) 2025 by Brendan Haran, All Rights Reserved.
  ~ Use of this file or any of its contents is strictly prohibited without prior written permission from Brendan Haran.
  ~ Current File (AndroidManifest.xml) Last Modified on 5/1/25, 11:43 PM
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
