<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836962932399-qs26428u5o01v4lq58jglrh1r79abn67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836962932399-qs26428u5o01v4lq58jglrh1r79abn67</string>
	<key>API_KEY</key>
	<string>AIzaSyC0a34P-2mwIH6GVz67Kxr3s-rIHDpCbEs</string>
	<key>GCM_SENDER_ID</key>
	<string>836962932399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brendanharan.mathMatchup</string>
	<key>PROJECT_ID</key>
	<string>mathmatchup</string>
	<key>STORAGE_BUCKET</key>
	<string>mathmatchup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836962932399:ios:21e71a9278b094a8ca265a</string>
</dict>
</plist>